.container{
    width: 80%;
    margin: 10% auto;
    box-shadow: 0 0 15px;
    padding: 5%;
}
.wrapper{
    width: 100%;  

}
h1{
    text-align: center;
}

.article p{
  width: 90%; 
  
}

.article{
    float:left;
    /* width: 33%; */
    width: calc(100% / 3);
}

img{
    width: 90%;
}